* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.div-bookshelf {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.div-bookshelf .titulo {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.div-flex {
    display: flex;
}

.divAlinhada {
    text-align: center;
    margin: 20px 0;
}

.divAlinhada button {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
}

.imagem {
    margin: 0 auto;
    width: 400px;
    height: 500px;
}

.botoesDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.botoesDiv button {
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(84, 84, 217);
}
footer{
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
    color: white;
    background-color: black;
}
footer span h2{
    padding: 0 10px;
    display: inline-block;
    font-weight: normal;
}